@page "/"
@model ArtPavillion.Pages.Home.IndexModel
@{
	ViewData["Title"] = "Home page";	
	Layout = "Shared/_Layout";
}

<div class="container d-flex justify-content-center">
	<p>Hello World!</p>
</div>